[submodule "opt/karamel"]
	path = opt/karamel
	url = https://github.com/FStarLang/karamel
[submodule "opt/pulse"]
	path = opt/pulse
	url = https://github.com/FStarLang/pulse
[submodule "opt/everest"]
	path = opt/everest
	url = https://github.com/project-everest/everest
[submodule "opt/opam-repository"]
	path = opt/opam-repository
	url = https://github.com/ocaml/opam-repository
