name: Release
on:
  workflow_dispatch:
    inputs:
      release_branch:
        description: Release branch
        default: _release
        type: string
        required: true
      fstar_repo:
        description: F* repository (use org/repo for Github repos)
        default: 'FStarLang/FStar'
        type: string
        required: true
      fstar_ref:
        description: F* ref (branch, or tag, or commit hash)
        default: 'master'
        type: string
        required: true

defaults:
  run:
    shell: bash

jobs:
  fstar-src:
    ## NOTE: This is copied from build-src in the F* repo.

    runs-on: ubuntu-22.04
    # We prefer slightly older Ubuntu so we get binaries that work on
    # all more recent versions.
    steps:
      - uses: actions/checkout@master
        id: checkout
        with:
          repository: ${{ inputs.fstar_repo || 'FStarLang/FStar' }}
          ref: ${{ inputs.fstar_ref || 'master' }}

      - name: Check cache
        id: check-cache
        uses: actions/cache/restore@v4
        with:
          path: fstar-src.tar.gz
          key: FStar-src-${{steps.checkout.outputs.commit}}

      - uses: ocaml/setup-ocaml@v3
        if: steps.check-cache.outputs.cache-hit != 'true'
        with:
          ocaml-compiler: 4.14.2

      - name: Prepare
        if: steps.check-cache.outputs.cache-hit != 'true'
        run: |
          ./.scripts/get_fstar_z3.sh $HOME/bin
          echo "PATH=$HOME/bin:$PATH" >> $GITHUB_ENV
          opam install --deps-only ./fstar.opam

      - name: Set F* version
        if: steps.check-cache.outputs.cache-hit != 'true'
        run: |
          echo FSTAR_VERSION="$(git describe --tags --dirty)" >> $GITHUB_ENV

      # NB: release workflow later adds version number to the name
      - name: Build package
        if: steps.check-cache.outputs.cache-hit != 'true'
        run: |
          eval $(opam env)
          export FSTAR_TAG=
          # ^ no tag in source package
          make -skj$(nproc) package-src ADMIT=1

      - name: Save
        if: steps.check-cache.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: fstar-src.tar.gz
          key: FStar-src-${{steps.checkout.outputs.commit}}

      - uses: actions/upload-artifact@v4
        with:
          path: fstar-src.tar.gz
          name: fstar-src

  prepare:
    runs-on: Ubuntu-22.04
    needs: fstar-src
    steps:

      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - name: Set up git
        run: |
          git config --global user.name "Dzomo, the Everest Yak"
          git config --global user.email "24394600+dzomo@users.noreply.github.com"

      - run: |
          git merge --no-edit --no-ff origin/${{ inputs.release_branch }}
          git diff --exit-code ${{ github.sha }}..HEAD

      - name: Create submodules
        run: |
          cd $GITHUB_WORKSPACE
          git config --local user.name "Dzomo, the Everest Yak"
          git config --local user.email "dzomo@users.noreply.github.com"
          if ! [[ -e opt/karamel ]] ; then git submodule add --force https://github.com/FStarLang/karamel opt/karamel ; fi
          if ! [[ -e opt/pulse ]] ; then git submodule add --force https://github.com/FStarLang/pulse opt/pulse ; fi
          if ! [[ -e opt/everest ]] ; then git submodule add --force https://github.com/project-everest/everest opt/everest ; fi
          if ! [[ -e opt/opam-repository ]] ; then git submodule add --force https://github.com/ocaml/opam-repository opt/opam-repository ; fi
          echo export EVERPARSE_OPAM_REPOSITORY:=opt/opam-repository > release.Makefile
          git add release.Makefile
          git commit -m 'Create submodules'

      - uses: actions/download-artifact@v4
        with:
          name: fstar-src

      - name: Expand F* source package
        run: |
          cd "$GITHUB_WORKSPACE" && tar xzf fstar-src.tar.gz && mv fstar opt/FStar && git add --force opt/FStar && git commit -m 'Add F* source package'

      - name: Create new version
        run: |
          cd "$GITHUB_WORKSPACE"
          if ! [[ -e version.txt ]] ; then
            date '+v%Y.%m.%d' > version.txt
            git add version.txt
            git commit -m 'Set version number'
          fi

      - name: Push new branch
        run: |
          cd "$GITHUB_WORKSPACE"
          git checkout -b _dzomo_release_${{ github.run_id }}
          git push origin _dzomo_release_${{ github.run_id }}
          git rev-parse HEAD > hash.txt

      - name: Upload hash
        uses: actions/upload-artifact@v4
        with:
          path: |
            hash.txt
          name: hash

  push-tag:
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - name: Set up git
        run: |
          git config --global user.name "Dzomo, the Everest Yak"
          git config --global user.email "24394600+dzomo@users.noreply.github.com"

      - name: Download hash
        uses: actions/download-artifact@v4
        with:
          name: hash

      - name: Populate environment
        run: |
          echo CI_HASH="$(cat hash.txt)" >> $GITHUB_ENV

      - uses: actions/checkout@v4
        with:
          ref: ${{ env.CI_HASH }}
          sparse-checkout: |
            version.txt

      - name: Publish tag
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          CI_TAG=$(cat version.txt)
          git tag -a -m "EverParse $CI_TAG" "$CI_TAG" "$CI_HASH"
          git push origin "$CI_TAG"

  push-release:
    runs-on: ubuntu-latest
    needs: push-tag
    steps:
      - name: Set up git
        run: |
          git config --global user.name "Dzomo, the Everest Yak"
          git config --global user.email "24394600+dzomo@users.noreply.github.com"

      - name: Download hash
        uses: actions/download-artifact@v4
        with:
          name: hash

      - name: Populate environment
        run: |
          echo CI_HASH="$(cat hash.txt)" >> $GITHUB_ENV

      - uses: actions/checkout@v4
        with:
          ref: ${{ env.CI_HASH }}
          sparse-checkout: |
            version.txt

      - name: Publish release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          CI_TAG=$(cat version.txt)
          gh release create --prerelease \
            --generate-notes \
            -t "EverParse $CI_TAG" \
            "$CI_TAG"

  push-release-branch:
    runs-on: ubuntu-latest
    needs: push-release
    steps:
      - name: Set up git
        run: |
          git config --global user.name "Dzomo, the Everest Yak"
          git config --global user.email "24394600+dzomo@users.noreply.github.com"

      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.release_branch }}
          fetch-depth: 0

      - name: Download hash
        uses: actions/download-artifact@v4
        with:
          name: hash

      - name: Advance release branch
        run: |
          git merge --no-ff --no-edit ${{ github.sha }}
          git merge --no-ff --no-edit $(cat hash.txt)
          git revert --no-edit -m 1 HEAD
          git diff --exit-code ${{ github.sha }}..HEAD
          git push

  delete-branch:
    needs: push-release-branch
    runs-on: ubuntu-latest
    steps:
      - name: Download hash
        uses: actions/download-artifact@v4
        with:
          name: hash

      - name: Populate environment with hash
        run: |
          echo CI_HASH="$(cat hash.txt)" >> $GITHUB_ENV

      - uses: actions/checkout@master
        with:
          ref: ${{ env.CI_HASH }}
          sparse-checkout: |
            version.txt

      - name: Delete branch
        run: |
          git push origin --delete _dzomo_release_${{ github.run_id }}
